.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 50px;
  margin-top: 90px;
}

.title h1 {
  margin: 0;
}

.title-subtext {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 50px;
  margin: 0;
}

.title-subtext p {
  margin: 0;
  padding-top: 0;
}
